Bus_Client/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.29.93:96/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Insert_BusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusOrgCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="BusType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insert_BusInfo" nillable="true" type="tns:Insert_BusInfo" />
  <xs:complexType name="Insert_RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="RouteFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insert_RouteInfo" nillable="true" type="tns:Insert_RouteInfo" />
  <xs:complexType name="ArrayOfInsert_BusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insert_BusInfo" nillable="true" type="tns:Insert_BusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsert_BusInfo" nillable="true" type="tns:ArrayOfInsert_BusInfo" />
  <xs:complexType name="ArrayOfInsert_RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insert_RouteInfo" nillable="true" type="tns:Insert_RouteInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsert_RouteInfo" nillable="true" type="tns:ArrayOfInsert_RouteInfo" />
  <xs:complexType name="Insert_ScheduleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Busid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" type="ser:duration" />
      <xs:element minOccurs="0" name="RouteCost" type="xs:int" />
      <xs:element minOccurs="0" name="Routeid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleID" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Insert_ScheduleInfo" nillable="true" type="tns:Insert_ScheduleInfo" />
  <xs:complexType name="ArrayOfInsert_ScheduleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insert_ScheduleInfo" nillable="true" type="tns:Insert_ScheduleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsert_ScheduleInfo" nillable="true" type="tns:ArrayOfInsert_ScheduleInfo" />
  <xs:complexType name="Insert_availseats">
    <xs:sequence>
      <xs:element minOccurs="0" name="AID" type="xs:int" />
      <xs:element minOccurs="0" name="AvailableSeats" type="xs:int" />
      <xs:element minOccurs="0" name="DoJ" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeneralSeats" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insert_availseats" nillable="true" type="tns:Insert_availseats" />
  <xs:complexType name="CS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CS" nillable="true" type="tns:CS" />
  <xs:complexType name="ArrayOfCS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CS" nillable="true" type="tns:CS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCS" nillable="true" type="tns:ArrayOfCS" />
  <xs:complexType name="ArrayOfCustomerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerRegistration" nillable="true" type="tns:CustomerRegistration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerRegistration" nillable="true" type="tns:ArrayOfCustomerRegistration" />
  <xs:complexType name="CustomerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confirm_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRegistration" nillable="true" type="tns:CustomerRegistration" />
</xs:schema>