Bus_Client/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.29.93:96/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" />
  <xs:element name="InsertBusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="B" nillable="true" type="q1:Insert_BusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBusInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="R" nillable="true" type="q2:Insert_RouteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRouteInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>