Bus_Client/Connected Services/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" />
      <xsd:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getExtractBySid_InputMessage">
    <wsdl:part name="parameters" element="tns:getExtractBySid" />
  </wsdl:message>
  <wsdl:message name="IService1_getExtractBySid_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExtractBySidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertBusInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBusInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertBusInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBusInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRouteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRouteInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRouteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRouteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusid" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRouteid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteid" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRouteid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertScheduleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertScheduleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScheduleId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetScheduleId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSecId_InputMessage">
    <wsdl:part name="parameters" element="tns:getSecId" />
  </wsdl:message>
  <wsdl:message name="IService1_getSecId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSecIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertSeatsAvailInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSeatsAvailInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertSeatsAvailInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSeatsAvailInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCS_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCS" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IService1_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Getmobileno_InputMessage">
    <wsdl:part name="parameters" element="tns:Getmobileno" />
  </wsdl:message>
  <wsdl:message name="IService1_Getmobileno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetmobilenoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Userlogin_InputMessage">
    <wsdl:part name="parameters" element="tns:Userlogin" />
  </wsdl:message>
  <wsdl:message name="IService1_Userlogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserloginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTicketbooked_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicketbooked" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTicketbooked_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicketbookedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFrom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrom" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFromResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExtractBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtractBookings" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExtractBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtractBookingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getExtractBySid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getExtractBySid" message="tns:IService1_getExtractBySid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getExtractBySidResponse" message="tns:IService1_getExtractBySid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBusInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertBusInfo" message="tns:IService1_InsertBusInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertBusInfoResponse" message="tns:IService1_InsertBusInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRouteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertRouteInfo" message="tns:IService1_InsertRouteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertRouteInfoResponse" message="tns:IService1_InsertRouteInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBusid" message="tns:IService1_GetBusid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBusidResponse" message="tns:IService1_GetBusid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRouteid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRouteid" message="tns:IService1_GetRouteid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRouteidResponse" message="tns:IService1_GetRouteid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertScheduleInfo" message="tns:IService1_InsertScheduleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertScheduleInfoResponse" message="tns:IService1_InsertScheduleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetScheduleId" message="tns:IService1_GetScheduleId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetScheduleIdResponse" message="tns:IService1_GetScheduleId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSecId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSecId" message="tns:IService1_getSecId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSecIdResponse" message="tns:IService1_getSecId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSeatsAvailInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertSeatsAvailInfo" message="tns:IService1_InsertSeatsAvailInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertSeatsAvailInfoResponse" message="tns:IService1_InsertSeatsAvailInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCS" message="tns:IService1_InsertCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCSResponse" message="tns:IService1_InsertCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCountry" message="tns:IService1_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountryResponse" message="tns:IService1_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetState" message="tns:IService1_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStateResponse" message="tns:IService1_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getmobileno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Getmobileno" message="tns:IService1_Getmobileno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetmobilenoResponse" message="tns:IService1_Getmobileno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCustomer" message="tns:IService1_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCustomerResponse" message="tns:IService1_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Userlogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Userlogin" message="tns:IService1_Userlogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserloginResponse" message="tns:IService1_Userlogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTicketbooked">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertTicketbooked" message="tns:IService1_InsertTicketbooked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertTicketbookedResponse" message="tns:IService1_InsertTicketbooked_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFrom" message="tns:IService1_GetFrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFromResponse" message="tns:IService1_GetFrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTicketId" message="tns:IService1_GetTicketId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTicketIdResponse" message="tns:IService1_GetTicketId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTo" message="tns:IService1_GetTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetToResponse" message="tns:IService1_GetTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtractBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExtractBookings" message="tns:IService1_GetExtractBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExtractBookingsResponse" message="tns:IService1_GetExtractBookings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getExtractBySid">
      <soap:operation soapAction="http://tempuri.org/IService1/getExtractBySid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBusInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertBusInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRouteInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertRouteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusid">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBusid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouteid">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRouteid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertScheduleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetScheduleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecId">
      <soap:operation soapAction="http://tempuri.org/IService1/getSecId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSeatsAvailInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertSeatsAvailInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCS">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/IService1/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getmobileno">
      <soap:operation soapAction="http://tempuri.org/IService1/Getmobileno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Userlogin">
      <soap:operation soapAction="http://tempuri.org/IService1/Userlogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTicketbooked">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertTicketbooked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrom">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTicketId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtractBookings">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExtractBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62695/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>