Bus_Client/Connected Services/ServiceReference1/Service132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" />
  <xs:import schemaLocation="http://localhost:62695/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getExtractBySid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExtractBySidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="getExtractBySidResult" nillable="true" type="q1:ExtractById" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="B" nillable="true" type="q2:Insert_BusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBusInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="R" nillable="true" type="q3:Insert_RouteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRouteInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="GetBusidResult" nillable="true" type="q4:ArrayOfInsert_BusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="GetRouteidResult" nillable="true" type="q5:ArrayOfInsert_RouteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="S" nillable="true" type="q6:Insert_ScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScheduleInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="GetScheduleIdResult" nillable="true" type="q7:ArrayOfInsert_ScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSecIdResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSeatsAvailInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="A" nillable="true" type="q9:Insert_availseats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSeatsAvailInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSeatsAvailInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="Co" nillable="true" type="q10:CS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCountryResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStateResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getmobileno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmobilenoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="GetmobilenoResult" nillable="true" type="q13:ArrayOfCustomerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="Cr" nillable="true" type="q14:CustomerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Userlogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" type="xs:long" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserloginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="UserloginResult" nillable="true" type="q15:CustomerRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicketbooked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="T" nillable="true" type="q16:TicketBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicketbookedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTicketbookedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFromResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTicketIdResult" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetToResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtractBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RouteFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RouteTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NOT" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtractBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Bus_Service.Classes" minOccurs="0" name="GetExtractBookingsResult" nillable="true" type="q20:ArrayOfExtractBookingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>